fastapi
uvicorn[standard]
pydantic>=2.0.0
chromadb
python-dotenv
langchain-core
langchain-community
langchain-groq
langchain-google-genai
langchain-text-splitters
langchain-chroma
pypdf
python-multipart
google-auth

